@model E_lections.Models.GlasackiListic

@{
    ViewData["Title"] = "Details";
}

    <div>
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>
                    <th>
                        Datum rođenja
                    </th>
                    <th>
                        JMBG
                    </th>
                    <th>
                        Broj lične karte
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Kandidati)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumRodjenja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JMBG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojLicneKarte)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
<div>
    <a asp-action="Index">Nazad</a>
</div>
