@model IEnumerable<E_lections.Models.GlasackiListic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div align="center">
        <ul id="menu">
            <li>
                @using (Html.BeginForm("Index", "Izbor", FormMethod.Get))
                {
                    <input type="submit" value="Nazad" class="btn" />
                }
                @using (Html.BeginForm("Create", "GlasackiListics", FormMethod.Get))
                {
                    <input type="submit" value="Kreiraj glasački listić" class="btn" />
                }
            </li>
        </ul>
    </div>


<table class="content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxOdabir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojGlasova)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izbor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOdabir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojGlasova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izbor.Opis)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Obriši</a>
                <a asp-action="Rezultati" asp-route-id="@item.ID">Rezultati</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div align="center">
    @if (ViewBag.Msg != null)
    {
        <h2>
            @ViewBag.Msg
        </h2>
    }
</div>

