@model E_lections.Models.GlasackiListic

@{
    ViewData["Title"] = "Rezultati";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <table class="content-table">
        <thead>
            <tr>
                <th>
                    Ime
                </th>
                <th>
                    Prezime
                </th>
                <th>
                    Datum rođenja
                </th>
                <th>
                    JMBG
                </th>
                <th>
                    Broj lične karte
                </th>
                <th>
                    Broj glasova
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Kandidati)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumRodjenja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JMBG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojLicneKarte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brojGlasova)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
