@model E_lections.Models.Stranka

@{
    Layout = "_LayoutAdmin";
}

    <body>
        <div>
            <h4>Stranka</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Naziv)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Naziv)
                </dd>
            </dl>
        </div>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Datum rođenja</th>
                    <th>Spol</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.UpisiUStranku != null)
                {
                    foreach (var item in Model.UpisiUStranku)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prezime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatumRodjenja)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Spol)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div>
            <a asp-action="Index">Nazad</a>
        </div>
    </body>