@model E_lections.Models.Izbor

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="signin">
    <div class="col-md-4">
        <form asp-action="KreirajIzbore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pocetak" class="control-label"></label>
                @Html.EditorFor(m => m.Pocetak, new { @type = "date" })
                <span asp-validation-for="Pocetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.Opis, new { @class = "form-control" })
                <span asp-validation-for="Opis" class="text-danger" placeholder ="Opis"></span>
            </div>
            <div class="form-group">
                <span asp-validation-for="KantonOgranicenje" class="text-danger"></span>
                <br />
                <label>

                    @Html.RadioButtonFor(model => model.KantonOgranicenje, "SK", new { @class = "radio-button" })
                    SK
                </label>
                <label>
                    @Html.RadioButtonFor(model => model.KantonOgranicenje, "TK", new { @class = "radio-button" })
                    TK
                </label>
                <label>
                    @Html.RadioButtonFor(model => model.KantonOgranicenje, "ZDK", new { @class = "radio-button" })
                    ZDK
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="akt">AKTIVAN</option>
                    <option value="neakt">NEAKTIVAN</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

