@model IEnumerable<E_lections.Models.Kandidat>

@{
    ViewData["Title"] = "DetaljiKandidata";
    Layout = "~/Views/Shared/_LayoutIzbori.cshtml";
}

<h1>DetaljiKandidata</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kanton)
            </th>
            <th>
               Stranka
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kanton)
            </td>
            @if (item.StrankaId != null)
             {
               <td>@Html.DisplayFor(modelItem => item.Stranka.Naziv)</td>
             }
             else
             {
               <td>Nezavisni kandidat</td>
             }
            <td>
                <a asp-action="Profil" asp-route-id="@item.ID">Pogledaj profil</a>
            </td>
        </tr>
}
    </tbody>
</table>
