@model IEnumerable<E_lections.Models.Kandidat>

@{
    ViewData["Title"] = "Glasaj";
    Layout = "~/Views/Shared/_LayoutGlasac.cshtml";
}

<h1>Glasaj</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brojGlasova)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlasackiListic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojLicneKarte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JMBG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lozinka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kanton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stranka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirackoMjesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brojGlasova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profil.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlasackiListic.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojLicneKarte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JMBG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kanton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stranka.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirackoMjesto.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
