@model E_lections.Models.Izbor

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="signin">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    @Html.EditorFor(m => m.Pocetak, new { @type = "date" })
                    <span asp-validation-for="Pocetak" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.Opis, new { @class = "form-control" })
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span asp-validation-for="KantonOgranicenje" class="text-danger"></span>
                    <br />
                    <label>
                        @Html.RadioButtonFor(model => model.KantonOgranicenje, "SK", new { @class = "radio-button" })
                        SK
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.KantonOgranicenje, "TK", new { @class = "radio-button" })
                        TK
                    </label>
                    <label>
                        @Html.RadioButtonFor(model => model.KantonOgranicenje, "ZDK", new { @class = "radio-button" })
                        ZDK
                    </label>
                </div>
                <div class="form-group">
                    <select asp-for="@Model.Status" asp-items="Html.GetEnumSelectList<StatusIzbora>()" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kreiraj" class="btn" />
                </div>
            </form>
        </div>
    </div>

</body>




