@model IEnumerable<E_lections.Models.GlasackiListic>

@{
    ViewData["Title"] = "Detalji";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    <a asp-action="Kreiraj">Dodaj novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxOdabir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOdabir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <a asp-action="Info" asp-route-id="@item.ID">Detalji</a> |
            </td>
        </tr>
}
    </tbody>
</table>
