@model IEnumerable<E_lections.Models.Izbor>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div align="center">
    @using (Html.BeginForm("Create", "Izbor", FormMethod.Get))
    {
        <input type="submit" value="Kreiraj izbore" class="btn" />
    }

    @using (Html.BeginForm("Index", "GlasackiListics", FormMethod.Get))
    {
        <input type="submit" value="Pregled glasačkih listića" class="btn" />
    }
</div>


<table class="content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pocetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pocetak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Obriši</a>
                    <a asp-action="Izvjestaj" asp-route-id="@item.ID">Generiši izvještaj</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div align="center">
    @if (ViewBag.Izvjestaj != null)
    {
        <h2>
            @ViewBag.Izvjestaj
        </h2>
    }
</div>

