@model IEnumerable<E_lections.Models.Izbor>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pocetak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pocetak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Ažuriraj informacije</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@using(Html.BeginForm("Create","Izbor", FormMethod.Get))
{
    <input type="submit" value="Kreiraj izbore" />
}
